body{
  background-color: blue;
}

ul, ol{
  list-style: none;
}

#left{
  float: left;
  width: 50%;
  height: 500px;
  background: linear-gradient(#D348A3, #8F04BC);
}

#right{
  float: left;
  width: 50%;
  height: 500px;
  background: linear-gradient(#D348A3, #8F04BC);
}